@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

.card {
  width: 288px;
  border-radius: 15px;
  background-color: #1c1c24;
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 158px;
  object-fit: cover;
  border-radius: 15px;
}

.tag {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.tag-icon {
  width: 17px;
  height: 17px;
  object-fit: contain;
}

.tag-text {
  margin-left: 12px;
  margin-top: 2px;
  font-family: 'Epilogue', sans-serif;
  font-weight: medium;
  font-size: 12px;
  color: #808191;
}

.details {
  margin-bottom: 15px;
}

.title {
  font-family: 'Epilogue', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  margin-top: 5px;
  font-family: 'Epilogue', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #808191;
  line-height: 18px;
}

.quantity-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.quantity,
.price {
  display: flex;
  flex-direction: column;
}

.quantity-label,
.price-label {
  font-family: 'Epilogue', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #b2b3bd;
  line-height: 22px;
}

.quantity-info,
.price-info {
  margin-top: 3px;
  font-family: 'Epilogue', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #808191;
  line-height: 18px;
}

.owner {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13131a;
}

.avatar-image {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.owner-info {
  flex: 1;
  font-family: 'Epilogue', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #808191;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.owner-name {
  color: #b2b3bd;
}
